.d-n {
	display: none;
}

.d-b {
	display: block;
}

.d-n-t {
	@include breakpoints(t) {
		display: none;
	}
}

.d-n-d {
	@include breakpoints(d) {
		display: none;
	}
}

.d-b-t {
	@include breakpoints(t) {
		display: block;
	}
}

.d-n-d {
	@include breakpoints(d) {
		display: none;
	}
}

.d-b-d {
	@include breakpoints(d) {
		display: block;
	}
}