@import "variables";

@mixin hover-supported {
	@media not all and (pointer: coarse) {
		&:hover {
			@content;
		}
	}
}

@mixin breakpoints($media) {
	@if $media == p {
		@media only screen and (min-width: $phone) {
			@content;
		}
	} @else if $media == t {
		@media only screen and (min-width: $tablet) {
			@content;
		}
	} @else if $media == d {
		@media only screen and (min-width: $desktop) {
			@content;
		}
	} @else if $media == ld {
		@media only screen and (min-width: $large_desktop) {
			@content;
		}
	} @else {
		@media only screen and (min-width: $media) {
			@content;
		}
	}
}
