.article-card {
	background: #fff;
	display: block;
	max-width: 310px;
	position: relative;
	z-index: 3;

	&__title {
		margin-bottom: 15px;
	}

	&__content {
		padding: 50px 25px;
	}

	@include breakpoints(t) {
		max-width: 355px;
	}
}