.articles {
	background: $primary_color_light;
	padding: 75px 0 125px;
	position: relative;
	overflow: hidden;

	&__row {
		margin-top: 50px;
	}

	.article-card {
		margin: 25px auto 0;

		&:first-of-type {
			margin-top: 0;
		}
	}

	.more {
		margin-top: 25px;
	}

	@include breakpoints(t) {
		padding: 125px 0 250px;

		&__header {
			align-items: center;
			display: flex;
			justify-content: space-between;
		}

		&__row {
			margin-top: 75px;
		}

		&__image-red {
			bottom: 125px;
			left: 50%;
			position: absolute;
			transform: translateX(-50%);
			z-index: 2;
		}

		&__image-yellow {
			position: absolute;
			right: calc((100vw - 768px) / 2 + 150px);
			top: 300px;
			z-index: 2;
		}

		&__image-line {
			max-width: none;
			position: absolute;
			right: calc((100vw - 768px) / 2 - 3810px);
			top: 330px;
			width: 8500px;
			z-index: 1;
		}

		.article-card {
			float: left;
			width: 49%;

			&:nth-of-type(2n) {
				float: right;
				margin-top: 32%;
			}
		}

		.more {
			margin-top: 0;
		}
	}

	@include breakpoints(d) {
		padding: 200px 0 180px;

		&__list {
			align-items: flex-start;
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-start;
		}

		&__image-red {
			bottom: 400px;
			left: auto;
			right: calc((100vw - 1144px) / 2 + 320px);
			transform: none;
		}

		&__image-yellow {
			right: calc((100vw - 1144px) / 2 + 460px);
			top: 400px;
		}

		&__image-grey {
			bottom: 48.3%;
			position: absolute;
			right: calc((100vw - 1144px) / 2 + 565px);
		}

		&__image-line {
			right: calc((100vw - 768px) / 2 - 3450px);
			top: 380px;
		}

		.article-card {
			float: none;
			margin-left: 10.4%;
			margin-right: 0;
			margin-top: -15%;

			&:nth-of-type(2n) {
				margin-left: auto;
				margin-top: 35%;
			}

			&:nth-of-type(5n) {
				margin-left: 0;
				margin-top: 0;
			}

			&:first-of-type {
				margin-left: 0;
				margin-top: 0;
			}
		}
	}
}