.back-to-top {
	align-items: center;
	border: 2px solid #fff;
	border-radius: 50%;
	display: flex;
	height: 50px;
	justify-content: center;
	margin-left: auto;
	text-decoration: none;
	width: 50px;

	svg {
		transform: rotate(-90deg);
	}

	path {
		stroke: #fff;
	}
}