.benefits {
	padding: 100px 0 0;
	position: relative;

	&__subtitle {
		margin-top: 25px;
		text-align: right;
	}

	&__footer {
		padding: 50px 0 75px;
		text-align: center;
	}

	@include breakpoints(t) {
		padding: 175px 0 0;

		&__subtitle {
			margin-top: 50px;
		}
	}

	@include breakpoints(d) {
		&__footer {
			padding: 75px 0 125px;
		}
	}
}