.breadcrumbs {
	&__list {
		display: flex;
		flex-wrap: wrap;
	}

	&__item {
		align-items: center;
		color: $primary_color;
		display: flex;
		flex: 0 0 auto;
		font-weight: 600;
		justify-content: flex-start;
		letter-spacing: 0.15em;
		margin: 0 7px 0 0;
		position: relative;

		a {
			color: inherit;
		}

		&:after {
			content: '>';
			display: block;
			margin-left: 5px;
		}

		&:last-of-type {
			margin-right: 0;

			&:after {
				display: none;
			}
		}
	}
}