.button {
	border: 2px solid $primary_color;
	border-radius: 30px;
	color: $primary_color;
	display: inline-block;
	font: {
		size: $font-size__text;
		style: normal;
		weight: 600;
	}
	line-height: 1;
	padding: 15px 25px;
	text-align: center;
	text-decoration: none;
	transition: all .2s ease;

	&:hover, &:focus {
		background: $primary_color;
		color: #fff;

		path {
			fill: #fff;
		}
	}

	&--icon {
		align-items: center;
		display: inline-flex;

		svg {
			margin-right: 10px;
		}
	}

	&--icon-list {
		padding: 15px 25px 15px 60px;
		position: relative;

		&:before {
			background: {
				image: url("./../assets/images/List.svg");
				size: cover;
			}
			content: '';
			height: 20px;
			left: 25px;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			width: 25px;;
		}
	}
}