.circle-list {
	padding: 125px 0;

	@include breakpoints(d) {
		padding: 150px 0;
	}
}

.circle-list-item {
	align-items: flex-start;
	display: flex;
	margin-top: 50px;

	&:first-of-type {
		margin-top: 0;
	}

	&__placeholder {
		flex: 0 0 120px;
		max-width: 120px;
		position: relative;
		width: 100%;
	}

	&__content {
		flex: 0 0 calc(100% - 120px);
		margin-top: 15px;
		max-width: calc(100% - 120px);
		position: relative;
		width: 100%;
	}

	&__icon {
		align-items: center;
		background: $primary_color_light;
		border-radius: 50%;
		display: flex;
		height: 142px;
		justify-content: center;
		left: 0;
		position: absolute;
		top: 0;
		width: 142px;

		&:before {
			background: transparent;
			border-radius: 50%;
			content: '';
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			transform: translate(-4.0282%, 4.0282%);
			width: 100%;
			z-index: -1;
		}

		img {
			height: auto;
			max-width: none;
			width: 50px;
		}

		&--first img {
			width: 62px;
		}

		&--second img {
			width: 58px;
		}

		&--third img {
			width: 70px;
		}

		&--blue:before {
			background: $primary_color_alt;
		}

		&--orange:before {
			background: $secondary_color_alt;
		}

		&--red:before {
			background: $secondary_color;
		}
	}

	&__title {
		word-break: break-word;
	}

	&__copy {
		margin-top: 10px;
		max-width: 450px;
	}


	@include breakpoints(t) {
		align-items: center;

		&__placeholder {
			flex: 0 0 190px;
			max-width: 190px;
		}

		&__content {
			flex: 0 0 calc(100% - 190px);
			margin-left: -25px;
			margin-top: 0;
			max-width: calc(100% - 190px);
		}

		&__icon {
			height: 190px;
			position: relative;
			width: 190px;

			&--first img {
				width: 83px;
			}

			&--second img {
				width: 76px;
			}

			&--third img {
				width: 93px;
			}
		}
	}

	@include breakpoints(d) {
		margin-top: 0;

		&:nth-of-type(even) {
			margin-left: 33.5%;
		}

		&__placeholder {
			flex: 0 0 225px;
			max-width: 225px;
		}

		&__content {
			flex: 0 0 calc(100% - 225px);
			margin-left: -60px;
			max-width: calc(100% - 225px);
		}

		&__icon {
			&--first img {
				width: 98px;
			}

			&--second img {
				width: 90px;
			}

			&--third img {
				width: 110px;
			}
		}
	}
}