.contacts {
	padding: 25px 0 50px;

	.socials {
		margin: 50px 0 0;
	}

	@include breakpoints(t) {
		padding: 50px 0 75px;
	}

	@include breakpoints(d) {
		padding: 75px 0 100px;

		.socials {
			margin-top: 75px;
		}

		.contact-info {
			margin-top: 25px;
		}
	}
}