.footer {
	background: $primary_color;
	padding: 50px 0 15px 0;

	@include breakpoints(t) {
		&__back-cell {
			order: 2;
		}

		&__social-cell {
			order: 1;
		}

		&__copyright-cell {
			order: 3;
		}

		&__links-settings-cell {
			order: 4;
		}
	}
}