.hero {
	&__inner {
		overflow: hidden;
		padding: 95px 0;
		position: relative;
	}

	&__image-wrapper {
		bottom: 10px;
		left: 0;
		position: absolute;
	}

	&__image {
		display: none;
		max-width: none;
		position: absolute;

		&--main {
			left: calc((100vw - 768px) / 2 - 1610px);
			top: -200px;
			width: 4000px;
			z-index: -1;
		}

		&--top {
			right: calc((100vw - 1144px) / 2 - 28%);
			top: -181px;
			width: 574px;
			z-index: -2;
		}

		&--bottom {
			bottom: 30px;
			left: calc((100vw - 768px) / 2 - 250px);
			width: 504px;
			z-index: -2;
		}
	}


	// Fix bottom image position when content jumped
	@include breakpoints(698px) {
		&__image--bottom {
			bottom: 0;
		}
	}

	@include breakpoints(t) {
		&__inner {
			padding: 150px 0 480px 0;
		}

		&__image-wrapper {
			position: static;
		}

		&__image {
			display: block;

			&--top {
				display: none;
			}
		}
	}

	@include breakpoints(d) {
		&__inner {
			padding: 150px 0 540px 0;
		}

		&__image {
			&--main {
				left: calc((100vw - 1144px) / 2 - 1835px);
				top: -280px;
				width: 4680px;
			}

			&--bottom {
				left: calc((100vw - 1144px) / 2 - 271px);
				width: 586px;
			}

			&--top {
				display: block;
			}
		}
	}

	@include breakpoints(ld) {
		&__image {
			&--top {
				right: -13%;
			}
		}
	}

	@include breakpoints(1920px) {
		&__image {
			&--top {
				right: calc((100vw - 1144px) / 2 - 530px);
			}
		}
	}
}