.menu-item {
	font: {
		size: $font-size__h3;
		style: normal;
		weight: 600;
	}
	cursor: pointer;
	line-height: 1.25;
	margin-bottom: 0;
	margin-top: 15px;

	a {
		color: $primary_color;
		position: relative;

		&:before {
			background: $primary_color;
			border-radius: 5px;
			bottom: -8px;
			content: '';
			height: 2px;
			left: 0;
			opacity: 0;
			position: absolute;
			transition: all .3s ease;
			width: 100%;
		}
	}

	& > a:hover,
	& > a:focus {
		&:before {
			bottom: -6px;
			opacity: 1;
		}
	}

	&.menu-item-has-children {
		position: relative;
	}

	@include breakpoints(t) {
		font-size: $font-size__h2;
		margin-top: 25px;
	}

	@include breakpoints(d) {
		font-size: $font-size__text;
		line-height: 1.5;
		margin: 0 0 0 25px;
		overflow: visible;

		&:first-of-type {
			margin-left: 0;
		}

		a {
			color: $primary_color;
			position: relative;

			&:before {
				bottom: -12px;
			}
		}

		&.current-menu-item a,
		& a:hover,
		& a:focus {
			&:before {
				opacity: 1;
				bottom: -10px;
			}
		}

		&.menu-item-has-children:hover,
		&.menu-item-has-children:focus {
			.sub-menu {
				display: block;
			}
		}
	}
}