.more {
	align-items: center;
	color: $primary_color;
	cursor: pointer;
	display: flex;
	font: {
		size: $font-size__text;
		style: normal;
		weight: 600;
	}
	justify-content: flex-end;
	line-height: 1;
	text-align: right;

	&:after {
		background: {
			image: url("./../assets/images/arrow-right.svg");
			size: cover;
		}
		content: '';
		display: inline-block;
		height: 12px;;
		margin-left: 8px;
		width: 10px;
	}

	&__content {
		display: none;
		margin-top: 25px;
	}
}