.quote {
	background: $secondary_color_alt;
	margin-top: 50px;
	position: relative;

	&__inner {
		padding-bottom: 50px;
		padding-top: 50px;
	}

	&__item {
		background: #fff;
		max-width: 355px;
		padding: 25px;
		width: 83.5%;

		&:nth-of-type(even) {
			border-radius: 30px 0 30px 30px;
			margin-left: auto;
		}

		&:nth-of-type(odd) {
			border-radius: 0 30px 30px 30px;
			margin-top: 25px;
		}

		&:first-of-type {
			margin-top: 0;
		}
	}

	&__icon {
		display: none;
		left: calc((100% / 2) - 346%);
		max-width: none;
		position: absolute;
		top: -30px;
		width: 631.7%;
		z-index: -1;
	}

	@include breakpoints(t) {
		background: transparent;

		&__inner {
			background: $secondary_color_alt;
			padding-left: 25px;
			padding-right: 25px;
		}
	}

	@include breakpoints(d) {
		&__inner {
			padding-left: 0;
			padding-right: 0;
		}

		&__icon {
			display: block;
		}
	}

	@include breakpoints(ld) {
		&__icon {
			left: calc((100% / 2) - 4990px);
			top: -70px;
			width: 9160px;
		}
	}
}