.services {
	overflow: hidden;
	padding: 100px 0 390px 0;
	position: relative;

	&__image {
		bottom: -110px;
		left: calc((100vw - 320px) / 2 - 1040px);
		max-width: none;
		position: absolute;
		width: 2990px;
		z-index: -1;
	}

	&__content {
		margin-top: 25px;
	}

	&__actions {
		align-items: center;
		display: flex;
		flex-direction: column;
		margin-top: 50px;
	}


	.button {
		margin-bottom: 25px;
	}

	@include breakpoints(p) {
		&__actions {
			flex-direction: row;
		}

		.button {
			margin: 0 20px 0 0;
		}
	}

	@include breakpoints(t) {
		padding: 100px 0 625px 0;

		&__image {
			bottom: -170px;
			left: calc((100vw - 768px) / 2 - 1680px);
			width: 4905px;
		}

		&__actions {
			margin-top: 25px;
		}

		.button {
			margin: 0 50px 0 0;
		}
	}

	@include breakpoints(d) {
		padding: 125px 0 285px 0;

		&__image {
			bottom: auto;
			left: calc((100vw - 1144px) / 2 - 1620px);
			top: 280px;
		}
	}

	@include breakpoints(ld) {
		padding: 125px 0 375px 0;

		&__image {
			left: calc((100vw - 1144px) / 2 - 1682px);
		}
	}
}