.shop-slider {
	overflow: hidden;
	padding: 125px 0 0;
	position: relative;

	&__inner {
		padding-bottom: 50px;
		padding-top: 75px;
		position: relative;

		&:after {
			background: $secondary_color_alt;
			bottom: 0;
			content: '';
			height: 60%;
			left: 0;
			position: absolute;
			width: 100vw;
			z-index: -1;
		}
	}

	&__column {
		width: 100vw;
	}

	&__image {
		left: -212px;
		max-width: 1920px;
		position: absolute;
		top: 125px;
		width: 1441px;
		z-index: -2;
	}

	@include breakpoints(t) {
		&__image {
			left: -106px;
		}
	}

	@include breakpoints(d) {
		&__image {
			left: 0;
		}
	}

	@include breakpoints(ld) {
		padding: 240px 0 0;

		&__image {
			top: 240px;
			width: 100%;
		}
	}
}

.shop-slide {
	margin: 0 25px 0 0;
	max-width: 355px;
	outline: none;
	width: 95vw;

	&__name {
		margin-top: 25px;
	}

	&__price {
		margin-top: 10px;
	}

	@include breakpoints(t) {
		margin: 0 120px 0 0;
	}
}